@import url(../vendor/normalize.css);
.page {
    box-sizing: border-box;
    padding: 25px;
    height: 100vh;
}

.header {}

.header__title {}

.gamesContainer {}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__input {
    margin-bottom: 1em;
    font-size: 1.3em;
}

.form__errMsg {
    display: none;
}

.button {
    background: none;
    border: none;
}

.button_type-register {
    margin-bottom: 5px;
    background-color: goldenrod;
    color:whitesmoke;
    height: 3em;
    font-size: 1em;
    text-transform: uppercase;
}

.button_type-login {
    margin-bottom: 5px;
    background-color: green;
    color:whitesmoke;
    height: 3em;
    font-size: 1em;
    text-transform: uppercase;
}

.footer {}

.navbar {
    max-width: 25%;
    width: 100%;
    border-left: 2px black solid;
    height: 85vh;
    padding-left: 15px;
}

.content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 25px;
}