@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);
@import url(../blocks/button/button.css);
@import url(../blocks/navbar/navbar.css);
@import url(../blocks/form/form.css);

.profile{
    display: flex;
    flex-direction: column;
    max-width: 520px;
    margin: auto;
    margin-top: 25vh;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}